.Auth-container{
    background-image: url(assets/images/da87cd52923ebecef90e1f43751cfebc.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.bg-overlay{
    background: linear-gradient(to left ,rgba(0,0,0,0.4), rgba(47,140,51,0.7));
  
}

.Auth-paragraph{
    color: #888;
}
.error {
    color: red
}
.style-icon{
    position: absolute;
    top: 26%;
    left: 2%;
    z-index: 3;
}

.ps-sidebar-container{
    background-color:#1F263E !important;
    color: #fff;
    border-top-right-radius :2rem;
    border-bottom-right-radius :2rem
}

/* .bg-base{
    background-color:#1F263E !important;
} */

.sidebar-container .ps-sidebar-root{
    border-top-right-radius :2rem;
    border-bottom-right-radius :2rem
}
.sidebar-container .css-16jkw2k .ps-menu-button:hover{
 background-color: rgba(0, 146, 71, 0.1);
}
.sidebar-container .w-img{
    height: 75%;
}
.navbar{
    border-radius: 0.6rem;
    margin-top: 1rem;
}
.navbar-collapse{
    padding: 0 1rem 0 0;
}
.header{
    border-radius: 0.6rem;
    margin: 1rem 0;
    background-image: url(../src/assets/images/Rectangle.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.width-img{
    width: 100px;
}
.cursor-pointer{
    cursor: pointer;
}